/* HEADER STYLES */

.header {
  align-items: center;
  background-color: var(--c-blue);
  background-image: url('../assets/pattern-azul.svg');
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* based on StackOverflow answer: https://stackoverflow.com/a/53336754 */
.header__logo__img {
  filter: invert(43%) sepia(10%) saturate(6028%) hue-rotate(325deg) brightness(101%) contrast(106%);
}

.header__order__img {
  margin-top: var(--space-xxxl);
}

.header__order__name {
  margin-bottom: 100px;
  margin-top: var(--space-m);
}

/* SECTION INFO STYLES */

.infos {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 var(--space-m);
  text-align: center;
}

.infos__illustration {
  margin-top: var(--space-xxxl);
  width: 66px;
}

.infos__msg {
  color: var(--c-red);
  font-size: 1.5rem;
  font-weight: var(--f-black);
  line-height: 1.5;
  margin-top: var(--space-m);
}

.jpn {
  color: var(--c-yellow);
  font-size: 1.25rem;
}

.infos__desc {
  font-weight: var(--f-medium);
  margin-top: var(--space-md);
}

.btn__new-order {
  margin-bottom: var(--space-xxxl);
  margin-top: var(--space-md);
}


/* DESKTOP STYLES */
@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
  }

  .header {
    flex-basis: 50%;
  }

  .infos {
    flex-basis: 50%;
    justify-content: center;
  }
  
  
  .header__wrapper__logo {
    align-self: flex-start;
  }


  .header__order {
    margin: auto;
  }  
}