body {
  font-family: var(--f-family);
}

.header {
  background-image: url('../assets/pattern-vermelha.svg');
  background-color: var(--c-red);
  background-size: 30em;
  padding-bottom: 10px;
}

.header__wrapper__logo {
  margin: 0 auto;
  padding-top: var(--space-mmd);
  width: fit-content;
}

.header__images {
  display: flex;
  justify-content: center; 
  padding: var(--space-md) var(--space-xxl) var(--space-sm);
}

.header__images__bg {
  background-color: var(--c-dark-red);
  width: 232px;
  height: 232px;
  border-radius: 9999%;
  position: relative;
}

.header__images__blue_balloon {
  position: absolute;
  width: 46px;
  top: -10px;
  left: -10px;
}

.header__images__character {
  position: absolute;
}

.header__images__yellow_balloon {
  position: absolute;
  width: 42px;
  right: 30px;
  top: 30%;
  right: -15px;
}

.header__cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__cta__title--yellow {
  color: var(--c-yellow);
  font-weight: var(--f-black);
  font-size: 3rem;
}

.header__cta__title--white {
  color: var(--c-white);
  font-weight: var(--f-black);
  font-size: 7.5rem;
  text-transform: uppercase;
  line-height: 1;
}

.header__cta__text {
  padding: var(--space-md) var(--space-lg) var(--space-xxxl);
  color: var(--c-white);
  font-size: 1rem;
  font-weight: var(--f-medium);
  text-align: center;
}

.header__cta__button {
  display: none;
}

main {
  background-color: var(--c-white);
}

form {
  text-align: center;
  padding: var(--space-xl) var(--space-m);
}

form > * {
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
}

fieldset legend {
  font-size: 1.5rem;
  font-weight: var(--f-black);
  text-align: center;
  margin-bottom: var(--space-m);
}

fieldset > p {
  margin-bottom: var(--space-lg);
}

.proteins {
  margin-top: var(--space-xxxl);
}

.condiments {
  display: flex;
  gap: var(--space-m);
  overflow: auto;
  padding-right: var(--space-m);
  padding-bottom: var(--space-md);
  width: calc(100vw - var(--space-m));
}


.condiment__option {
  border-radius: 8px;
  box-shadow:  2px 2px 8px hsl(60, 14%, 85%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 288px;
  max-width: 320px;
}

.condiment__option > img {
  margin-top: var(--space-xxl);
}

.condiment__option > h3 {
  margin-top: var(--space-sm);
  color: var(--c-blue);
  font-size: 1.25rem;
  font-weight: var(--f-black);
}

.condiment__option__desc {
  margin-top: var(--space-xs);
  font-size:  0.875rem;
}

.condiment__option__price {
  color: var(--c-red);
  font-size: 1.25rem;
  margin-top: var(--space-lg);
  margin-bottom: var(--space-xl);
  font-weight: var(--f-black);
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 32px;
  background-color: var(--c-blue);
  color: var(--c-white);
  text-transform: uppercase;
  font-weight: var(--f-medium);
  padding: var(--space-sm);
  line-height: 1.5;
}

.arrow {
  font-size: 1.5rem;
  margin-left: var(--space-mmd);
  color: var(--c-yellow);
}

.form__button {
  margin-top: var(--space-xxl)
}



/* STYLE CONDIMENTS OPTIONS*/
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + .broth__option {
  outline: 2px solid #f00;
}

[type=radio]:checked + .protein__option {
  outline: 2px solid #f00;
}

@media (min-width: 768px) {
  .header__wrapper__logo {
    margin: 0 var(--space-xl);
    padding-top: var(--space-xl);
    width: fit-content;
  }

  .header__cta__button {
    display: block;
  }
}