body {
  font-family: var(--f-family);
}

.header {
  background-size: 30em;
  padding-bottom: 10px;
}

.header__wrapper__logo {
  margin: 0 auto;
  padding-top: var(--space-mmd);
  width: fit-content;
}

.yellow__title {
  color: var(--c-yellow);
  font-size: 1.5rem;
  font-weight: var(--f-black);
}

.white__title {
  color: var(--c-white);
  font-size: 1.25rem;
  font-weight: var(--f-black);
}

.header__cta__text {
  color: var(--c-white);
  font-size: 1rem;
  font-weight: var(--f-medium);
  padding: var(--space-md) var(--space-lg) var(--space-xxxl);
  text-align: center;
}

.wrapper--white {
  background-color: var(--c-white);
}

.arrow {
  color: var(--c-yellow);
  font-size: 1.5rem;
  font-weight: var(--f-medium);
  margin-left: var(--space-mmd);
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  align-items: center;
  border: none;
  border-radius: 32px;
  background-color: var(--c-blue);
  color: var(--c-white);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: var(--f-extra-bold);
  display: flex;
  justify-content: center;
  padding: var(--space-sm);
  line-height: 1.5;
  text-transform: uppercase;
}

.button:disabled {
  background-color: var(--c-gray);
  cursor: initial;
}


.button:disabled > span {
  color: var(--c-white);
}


@media (min-width: 1024px) {
  .header {
    padding-bottom: 100px;
  }
}